#burger-menu {
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    display: none;
}

.burger-div {
    height: 4px;
    width: 30px;
    background-color: black;
}


@media screen and (max-width: 800px) {

    #burger-menu {
        display: flex;
        transition: transform 0.3s ease-in-out;
    }

    #burger-menu.active {
        display: block;
    }

    .nav-links {
        display: none;
        justify-content: flex-start;
        flex-direction: column;
        position: absolute;
        top: 98px;
    }

    .logo {
        width: 40%;
    }

    .parentItem {
        text-align: center;
    }

    nav a {
        align-self: center;
        padding: 15px 25px;
    }

    .menuItem {
        background-color: whitesmoke;
        color: black;
    }

    .nav-links,
    nav a,
    .menu-item,
    .subItem {
        width: 100vw;
    }

    .nav-links.visible {
        display: flex;    
    }

    .sub-menu {
        position: static;
        display: none;
        text-align: center;
    }

    .sub-menu.visible {
        display: block;
    }

    .active .one {
        transform: translateY(12px) rotate(45deg);
    }

    .active .two {
        transform:  translateY(8px) rotate(-45deg);
    }

    .active .one,
    .active .two {
        transition: transform 0.3s ease-in

    }

    .active .three {
        display: none;
    }

}